.warna-bg{
	background: linear-gradient(to right, rgba(91,134,229, .92), rgba(54,209,220,.92));
}

.warna-bg2{
	/*background: linear-gradient(to right, rgba(91,134,229, .92), 
											rgba(54,209,220,.92));
	*/
	/*background: linear-gradient(to right, rgba(115,255,216, .92), 
											rgba(239,255,255.92));
	*/

	background: linear-gradient(to left, rgba(91,134,229, .92), rgba(54,209,220,.92));
	margin-top: -32px;

}


.jumbotron-bg{
	background-size: cover;
	background: url(../img/bgf.png);
	background-size: 300px;
}


}
.panah{
	width: 200px;
	height: 200px;
	
}

.head{
	background: url(../img/bg.jpg);
	
}

.headside{
	background-size: cover;
	background: url(../img/bgf.png);
	background-size:100px;
	
}

.jarak{
	margin-bottom: -35px;
}

.market{
	background: linear-gradient(to right, rgba(91,134,229, .92), rgba(54,209,220,.92));
	margin-top: -32px;

}

.futer{
		margin-top: -35px;
			background: linear-gradient(to left, rgba(91,134,229, .92), rgba(54,209,220,.92));
		
}